export("BaBA")
export("strtns")
export("movement.segment.b")
export("range01")
export("BaRanking")
import(raster)
import(sp)
import(rgdal)
import(rgeos)
import(adehabitatLT)
import(sf)
import(tidyr)
import(dplyr)